.customButton {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid;
    border-radius: 99px;
    padding: 0.7rem 1.2rem;
    min-width: 120px;
    position: relative;
    transition: 0.3s linear;
    cursor: pointer;
}

.customButton2 {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.7rem 1.2rem;
    min-width: 120px;
    position: relative;
    transition: 0.3s linear;
    cursor: pointer;
}

.primaryButton {
    background: var(--primaryColor);
    color: #fff;
    border-color: var(--primaryColor);
}

.secondaryButton {
    background: #fff0;
    color: #000;
    border-color: var(--primaryColor);
}